pre {
  border: 2px solid grey;
  border-left: 12px solid green;
  border-radius: 5px;
  line-height: 16px;
  background-image: linear-gradient(180deg, #eee 50%, #fff 50%);
  background-size: 100% 32px;
  background-position: 0 16px;
}

code[class*=language-], pre[class*=language-] {
  font-size: 0.9em;
  line-height: 1;
  padding-left: 0px;
}

pre[data-lang]::before {
  content: attr(data-lang);
  display: block;
  margin-bottom: 12px;
}

.disappearing {
  transition: opacity 0.618s ease;
}

.rotate-180 {
  display: inline-block;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}